<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание фирмы</title>
</head>
<body>
<h3>Создать фирму</h3>
<form action="/firms/add" method="post" >
    Название: <input type="text" name="title" > <br><br>
    Сфера деятельности <input type="text" name="field"> <br> <br>
    Год основания  <input type="number" name="year"> <br> <br>
    Вебсайт  <input type="text" name="website"> <br> <br>
    Директор  <input type="text" name="director"> <br> <br>
    Рабочий телефон <input type="text" name="workPhone"> <br> <br>
    <input type="submit" value="Создать фирму">
</form>
</body>
</html>