<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Создание соискателя</title>
</head>
<body>
<h3>Создать соискателя</h3>
<form action="/applicants/add" method="post" >
    Специализация: <input type="text" name="specialization" > <br><br>
    Образование <input type="text" name="education"> <br> <br>
    Опыт  <input type="text" name="experience"> <br> <br>
    Знание языков <input type="text" name="language"> <br> <br>
    Рейтинг <input type="text" name="rating"> <br> <br>
    <button class=" btn w-100 btn-lg btn-success" type="submit">Создать соискателя</button>
</form>
</body>
</html>

