<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaef.org">
<head>
    <title>Отправка отклика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="album py-5 bg-light">
    <div class="container mt-5">
        <h1 th:utext="'Отправка отклика по вакансии №: '+${vacancy.id_vacancy}"></h1>
    </div>
    <div class="container">
        <div  class="alert alert-success mt-2">
            <h4 th:utext="'Позиция: '+${vacancy.position}"></h4>
            <h4 th:utext="'Описание: '+${vacancy.requirements}"></h4>
            <h4 th:utext="'Условия: '+${vacancy.responsibilities}"></h4>
            <h4 th:utext="'ЗП: '+${vacancy.salary}"></h4>
            <h4 th:utext="'Задачи: '+${vacancy.conditions}"></h4>
            <h4 th:utext="'Ключевые навыки: '+${vacancy.keySkills}"></h4>
            <h4 th:utext="'Дата опубликования вакансии: '+${vacancy.dateOfCreate}"></h4>
            <h4 th:utext="'Фирма: '+${vacancy.firm.title}"></h4>

            <div class="btn-group">

                <form th:action="'/vacancy/'+${vacancy.getId_vacancy}+'/response/add'" method="post">
                    <label>Комментарий </label><br>
                    <input type="text" class="form-control" name="comment" >
                    <br><label>Прикрепите ссылку на ваши работы (gitHub)</label><br>
                    <input type="text" class="form-control" name="gitHub" >
                    <button class="btn w-100 btn-lg btn-success" type="submit">Отправить отклик</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>